* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease;
}

.container {
  padding: 20px;
}

input {
  padding: 13px 12px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgb(35, 35, 35);
}
